.DS_Store
*.iml
.settings
.classpath
.project
.mvn/
.idea/
.springBeans
/target/
/bin/
/log/


/leetcode/*.iml
/leetcode/.settings
/leetcode/.classpath
/leetcode/.project
/leetcode/.mvn/
/leetcode/.idea/
/leetcode/.springBeans
/leetcode/target/

/spider/*.iml
/spider/.settings
/spider/.classpath
/spider/.project
/spider/.mvn/
/spider/.idea/
/spider/.springBeans
/spider/target/